/*
* Color variables
*/
/*
* Typography
*/
body {
  box-sizing: border-box;
  font-size: 16px; }

@keyframes forSale {
  from {
    border-style: solid; }
  to {
    border-style: dashed; } }

.reveal {
  box-sizing: border-box;
  background: #e6da1a;
  color: #1e1e1e; }
  .reveal h1,
  .reveal .title {
    font-family: 'Passion One', cursive;
    font-weight: 400;
    font-size: 103.552px;
    padding-bottom: 20px;
    color: #2250a9;
    text-shadow: 5px 5px 0px #ee1443;
    text-transform: capitalize; }
  .reveal h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 51.776px;
    padding-bottom: 20px;
    color: #ee1443; }
  .reveal blockquote {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32.36px;
    color: #ee1443;
    line-height: 1.2;
    padding-bottom: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0;
    padding-bottom: 0.5rem;
    width: 100%; }
  .reveal .blockquote-source {
    color: #2250a9;
    padding-bottom: 1rem; }
  .reveal .link-wrap {
    display: flex;
    justify-content: center; }
  .reveal .qr-img {
    max-width: 12rem; }
  .reveal .qr-wrap {
    display: flex;
    width: 100%;
    justify-content: center; }
  .reveal a {
    font-family: 'Passion One', cursive;
    font-size: 32.36px;
    color: #ee1443;
    line-height: 1.2;
    padding-bottom: 0.5rem;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    position: relative;
    white-space: nowrap; }
    .reveal a::after {
      content: attr(data-hover);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: inline-block;
      color: #2250a9;
      overflow: hidden;
      max-width: 0; }
    .reveal a:hover::after {
      outline: none;
      transition: max-width 0.8s;
      max-width: 100%; }
  .reveal p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32.36px;
    color: #ee1443;
    line-height: 1.2;
    padding-bottom: 0.5rem; }
